mat-card {
  background: white;
  height: 95%;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 10px;
}

mat-card-title {
  text-align: center;
  font-size: 40px;
}

mat-card-subtitle {
  text-align: center;
  margin-top: 5px !important;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login {
  font-size: 14px;
  background: linear-gradient(#bee1fd, #bee1fd) padding-box,
  linear-gradient(to left, #23aefa, #bee1fd) border-box;
  border-radius: 2em;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 190px;
  height: 40px;
  gap: 132px;
}

.login:hover {
  background: linear-gradient(#bee1fd, #bee1fd) padding-box,
  linear-gradient(to left, #23aefa, #bee1fd) border-box;
}

img {
  width: 50%;
}

.logo {
  display: flex;
  justify-content: center;
}
