  <mat-card-content>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="sheetsModel.ambSheetNo">
      <mat-label>Амбулаторен лист, No.</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="sheetsModel.healthInsBookletNo">
      <mat-label>ЗОК, No.</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea matInput [(ngModel)]="sheetsModel.allergy"></textarea>
      <mat-label>Алергия</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea matInput [(ngModel)]="sheetsModel.pastDiseases"></textarea>
      <mat-label>Минали заболявания</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea matInput [(ngModel)]="sheetsModel.presentDiseases"></textarea>
      <mat-label>Настоящи заболявания</mat-label>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="emitSheetDetails(sheetsModel)">Напред</button>
  </mat-card-footer>
