mat-card {
  height: 400px;
  width: 650px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(204, 232, 253, .7) 100%) !important;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(37, 69, 131, 0.7) !important;
}

img {
  width: 30%;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  max-width: 350px;
  text-align: center;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  justify-content: center;
}

button {
  font-size: 14px;
  background: linear-gradient(#bee1fd, #bee1fd) padding-box,
  linear-gradient(to left, #23aefa, #bee1fd) border-box;
  border-radius: 2em;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 190px;
  height: 40px;
  gap: 132px;
}

button:hover {
  background: linear-gradient(#bee1fd, #bee1fd) padding-box,
  linear-gradient(to left, #23aefa, #bee1fd) border-box;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 320px;
}
