<mat-card>
  <section class="logo">
    <img src="assets/img/icon.png" alt="logo">
  </section>
  <section class="email">
    <span>За да възстановите паролата си е необходимо да въведете своя имейл адрес с който сте регистрирани в Системата.</span>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="email">
      <mat-label>Имейл адрес</mat-label>
    </mat-form-field>
  </section>
  <mat-card-actions>
    <button mat-button (click)="sendEmail(email)">Изпрати имейл</button>
  </mat-card-actions>
</mat-card>
