<mat-card class="card">
  <div>
    <mat-form-field appearance="outline">
      <input matInput>
      <mat-label>Име</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput>
      <mat-label>Фамилия</mat-label>
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" class="email-field">
      <input matInput>
      <mat-label>Имейл адрес</mat-label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="address-field">
      <input matInput>
      <mat-label>Адрес по лична карта</mat-label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <input matInput>
      <mat-label>Позиция</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput>
      <mat-label>Телефонен номер</mat-label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <input matInput>
      <mat-label>Потр. име</mat-label>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput>
      <mat-label>Парола</mat-label>
    </mat-form-field>
  </div>

  <mat-card-actions>
    <button disabled>Запази</button>
    <button>Редактирай</button>
  </mat-card-actions>

</mat-card>
