<mat-card class="card" *ngIf="userData$ | async; let det">
    <div>
      <mat-form-field appearance="outline">
        <input matInput
               [readonly]="!edit"
               [(ngModel)]="det.firstName">
        <mat-label>Име</mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput
               [readonly]="!edit"
               [(ngModel)]="det.lastName">
        <mat-label>Фамилия</mat-label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput
               [readonly]="!edit"
               [(ngModel)]="det.email">
        <mat-label>Имейл адрес</mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput
               [readonly]="!edit"
               [(ngModel)]="det.username">
        <mat-label>Потр. име</mat-label>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="email-field">
        <input matInput
               [readonly]="!edit"
               [(ngModel)]="det.phoneNum">
        <mat-label>Телефонен номер</mat-label>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="email-field">
        <input matInput
        [(ngModel)]="det.address">
        <mat-label>Адрес по лична карта</mat-label>
      </mat-form-field>
    </div>


  <mat-card-actions>
    <button [hidden]="!edit"
            (click)="editUserData(det)">Запази</button>
    <button
      [hidden]="edit"
      (click)="enableEditMode()">Редактирай</button>
  </mat-card-actions>

</mat-card>
