div {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("src/assets/img/background.jpg") ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
