<mat-stepper orientation="vertical"
             linear>
  <mat-step>
    <ng-template matStepLabel>Лични данни</ng-template>
    <div>
      <button mat-button matStepperNext>Напред</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Данни за амбулаторния лист</ng-template>
    <div>
      <button mat-button matStepperNext>Напред</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Проверка</ng-template>
    <div>
      <button mat-button matStepperNext>Напред</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Изпращане</ng-template>
    <div>
      <button mat-button matStepperNext>Напред</button>
      <button mat-button matStepperNext>Изпращане</button>
    </div>
  </mat-step>
</mat-stepper>
